<span style='color: #000' title='Frames'>   193</span><span style='color: #009' title='Memory'>  97024.00 KB</span><span style='color: #900' title='Time'>   1106.47 ms</span><span  title='Quirksmode'>  <span style='color: #d00'> ON</span></span><br />