.vc_row{margin-left:-21px;margin-right:-21px}.vc_column_container > .vc_column-inner{padding-left:21px;padding-right:21px;padding-left:21px;padding-right:21px}.vc_gitem_row{margin-left:0;margin-right:0}